@font-face {
    font-family: "AlfaSlabOne";
    src: url(../fonts/AlfaSlabOne-Regular.ttf);
}

body {
    background-color: #86BBD8;
    color: #33658A;
    font-family: AlfaSlabOne, sans-serif;
}

header {
    text-align: center;
    text-shadow: 1px 2px white;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#wrapper {
    width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 0 3px black;
            box-shadow: 0 0 0 3px black;
}

#result-screen {
    border-bottom: 2px solid black;
    width: calc(100%-2px);
    height: 70px;
    text-align: end;
    font-size: 1.5em;
}

#result {
    padding-right: 10px;
}

#advanced-operations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

#advanced-operations>* {
    width: 25%;
    padding: 25px 30px;
}

form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 75%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#numbers>* {
    padding: 25px 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.screening-text,
.advanced-screening-text {
    border: 1px solid black;
    font-family: "AlfaSlabOne", sans-serif;
}

.screening-text:hover,
.advanced-screening-text:hover {
    background-color: aqua;
    cursor: pointer;
}

.bottom-text-left {
    border-bottom-left-radius: 20px;
}

.bottom-text-right {
    border-bottom-right-radius: 20px;
}

#operations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25%;
}

#operations>* {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

#instructions {
    position: absolute;
    left: 3vw;
    top: 15vh;
    text-shadow: 1px 1px white;
}

@media screen and (max-width: 1700px){
    #instructions{
        position:initial;
        display: block;
        text-align: center;
    }
    body{
        font-size: 1.7rem; 
    }
}